---
import Layout from "../layouts/Layout.astro"
import papasClasicas from "../../public/images/products/papas-clasicas.png"
import papasPicantes from '../../public/images/products/papas-picantes.png'
import papasFuego from '../../public/images/products/papas-fuego.png'
import Card from "../components/Card.astro"
import Chips from "../components/home/chips.astro"
import fuego from '../../public/images/icons/flame.png'
import chile from '../../public/images/icons/hot.png'
 
const chips = ["papas", "papas", "papas", "papas"]
---

<Layout title="Papanax - NAX SNAX">
    <Chips chips={chips}/>
    <Card 
        image={papasClasicas} 
        title="Papanax" 
        bgColor="top__content bg--yellow"
    >
        <p class="desc">
            PapaNax con la mejor crocancia. <br />
            Déjate sorprender por el sabor y la textura que solo PapaNax te entrega.
        </p>
    </Card>
    <Card
        image={papasPicantes}
        title="papanax"
        bgColor="bg--darkgreen"
        direction="card__reverse"
        icon = {chile}
        iconDesc = "Papanax Picante"
    >
        <p class="desc">
            Tus PapaNax favoritas con un toque de picante y limón. <br />
            Igual de crocante pero con sabor eXtremo.
        </p>
    </Card>
    <Card
        image={papasFuego}
        title="papanax"
        bgColor=" bg--red"
        icon = {fuego}
        iconDesc = "Papanax fuego"
    >
    <p class="desc">
        ¿Eres realmente valiente? <br/>
        Entonces adoraras PapaNax Extra Fuego es para ti. <br/>
        Con un picante pensado para el valiente extremo.
    </p>
    </Card>
</Layout>
