---
import { Image } from "astro:assets";

import paClasicas from '../../../public/images/products/papas-clasicas.png'

---

<div class="hero__content bg bg--blue">
    <div class="content hero">
        <div class="nax__paquetes">
            <div class="nax__imagenes">
                <Image class="nax__images image1" src={paClasicas} alt="Papas Clasicas Nax" width={250} />
            <Image class="nax__images image2" src={paClasicas} alt="Papas Clasicas Nax" width={250} />
            <Image class="nax__images image3" src={paClasicas} alt="Papas Clasicas Nax" width={250} />
            <Image class="nax__images image4" src={paClasicas} alt="Papas Clasicas Nax" width={250} />
            <Image class="nax__images image5" src={paClasicas} alt="Papas Clasicas Nax" width={250} />
            </div>
        </div>
        <div>

        <div class="nax__hero__title">
            <h2 class="nax__hero__title__head">LAS FRASES</h2>
        </div>
        </div>
    </div>

</div>

<style>
    .hero__content{
        display: flex;
        justify-content: center;
        align-items: ;
    }
    .content{
        width: 1024px;
        margin: 0 auto;
    }
    .nax__paquetes{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .nax__imagenes{
        position: relative;
        width: 100%;
    }
    .nax__hero__title{
        position: absolute;
        margin: 0 auto;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nax__hero__title__head{
        font-size: 4.4rem;
    }
    .hero{
        color: wheat;
        position: relative;
    }
    .nax__images{
        position: absolute;
        transform: translateX(-50%);
    }
    .image1{
        left: -50px;
        top: 10px;
        transform: translateY(-50%);
    }

    .image2{
        left: 10%;
        bottom: 15px;
        rotate: -20deg;
    }
    .image3{
        left: 80%;
        rotate: -5deg;
        z-index: 2;
    }
    .image4{
        left: 90%;
        rotate: 5deg;
        z-index: 0;
        top: -170px;
    }
    .image5{
        left: 92%;
        rotate: 7deg;
        z-index: 2;
    }
</style>