---
import { Image } from "astro:assets";

import paClasicas from '../../../public/images/products/papas-clasicas.png'
import papaPicantes from '../../../public/images/products/papas-picantes.png'
import papaFuego from '../../../public/images/products/papas-fuego.png'
import nachos from '../../../public/images/products/nacho-clasico.png'
import nachosPicantes from '../../../public/images/products/nacho-picante.png'

---

<div class="hero__content top__content bg bg--blue">
    <div class="content hero">
        <div class="nax__paquetes">
            <div class="nax__imagenes">
                <Image class="nax__images image2" src={nachosPicantes} alt="Papas Clasicas Nax" width={250} />
                <Image class="nax__images image1" src={nachos} alt="Papas Clasicas Nax" width={250} />
                <Image class="nax__images image3" src={paClasicas} alt="Papas Clasicas Nax" width={250} />
                <Image class="nax__images image4" src={papaPicantes} alt="Papas Clasicas Nax" width={250} />
                <Image class="nax__images image5" src={papaFuego} alt="Papas Clasicas Nax" width={250} />
            </div>
        </div>
        <div>

        <div class="nax__hero__title">
            <h2 class="nax__hero__title__head">LAS FRASES</h2>
        </div>
        </div>
    </div>

</div>

<style>
    .hero__content{
        display: flex;
        justify-content: center;
        height: 100vh;
    }
    .nax__paquetes{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .nax__imagenes{
        position: relative;
        width: 100%;
    }
    .nax__hero__title{
        position: absolute;
        margin: 0 auto;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nax__hero__title__head{
        font-size: 4.4rem;
    }
    .hero{
        color: wheat;
        position: relative;
        width: 1024px;
    }
    .nax__images{
        position: absolute;
        transform: translateX(-50%);
    }
    .image1{
        left: -50px;
        top: 10px;
        transform: translateY(-50%);
    }

    .image2{
        left: 10%;
        bottom: 15px;
        rotate: -20deg;
    }
    .image3{
        left: 80%;
        rotate: -5deg;
        z-index: 2;
    }
    .image4{
        left: 90%;
        rotate: 5deg;
        z-index: 0;
        top: -170px;
    }
    .image5{
        left: 92%;
        rotate: 7deg;
        z-index: 2;
    }
    @media screen and (max-width: 480px) {
        .hero{
            display: flex;
            flex-direction: column;
            height: 100%;
            position: relative;
            width: 100%;
            align-items: center;
            justify-content: center;

        }
        .nax__imagenes{
            width: 100%;
            height: 100%;
        }
        .nax__paquetes{
            position: absolute;
        }
        .image1, .image2, .image3, .image4,.image5{
            width: 100px;
            height: auto;
        }

        .image1{
            left: 40%;
            top: 150px;
            transform: translateX(-50%) !important;

        }
        .nax__hero__title{
            position: relative;
            text-align: center;
        }
        .image2{
            left: 52%;
            top: 130px;
            rotate: -20deg;
            position: absolute;
        }
        .image3{
            bottom: 150px;
            left: 35%;
            rotate: -26deg;
            transform: translateX(-50%) !important;
        }
        .image4{
            left: 50%;
            rotate: -0deg;
            transform: translateX(-50%) !important;
            width: 120px;
            z-index: 2;
            top: inherit;
            bottom: 150px;
        }
        .image5{
            left: 65%;
            rotate: 23deg;
            transform: translateX(-50%) !important;
            width: 100px;
            bottom: 130px;
        }
    }
</style>